!!! strict
%html
  %head
    %title mashing up sinatra and flickr
    %link(rel="stylesheet" href="/css/style.css")
    %link(rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" 
          type="text/css" media="screen")
    %script(type="text/javascript" 
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    %script(type="text/javascript" 
            src="/js/jquery.fancybox-1.3.4.pack.js")
    %script(type="text/javascript" 
            src="/js/custom.js")

  %body
    #container
      %dl
        - @photos.each do |pic|
          - photo_info = flickr.photos.getInfo(:photo_id => pic.id)
          - photo_url_m = FlickRaw.url_m(photo_info)
          - photo_url_z = FlickRaw.url_z(photo_info)
          %dt
            = photo_info.title
          %dd{:class => "img"}
            %a{:rel => "flickr_pic", :href => photo_url_z }
              %img{ :src => photo_url_m } 
          %dd
            = photo_info.description.gsub("\n", '<br />')
